---
import CoursesNavigation from "@/components/CoursesNavigation"
import BaseLayout from "../layouts/BaseLayout.astro"
import { learningResources } from "@/data/data"
const pageTitle = "Journal d'apprentissage"
---

<BaseLayout pageTitle={pageTitle}>
  <main class="flex flex-col justify-between">
    <div class="flex justify-center">
      <div class="grid grid-cols-3 gap-4">
        {
          learningResources
            .slice(0, 3)
            .map((resource) => (
              <CoursesNavigation
                client:load
                courses={resource.courses}
                title={resource.displayName}
              />
            ))
        }
      </div>
    </div>
  
    <div class="flex justify-center mt-6">
      <div class="grid grid-cols-3 gap-4 z-0">
        {
          learningResources
            .slice(3, 6)
            .map((resource) => (
              <CoursesNavigation
                client:load
                courses={resource.courses}
                title={resource.displayName}
           
              
              />
            ))
        }
      </div>
    </div>
  </main>
</BaseLayout>
